* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1d1b1b;
  color: #ddd;
}
h1 {
  margin-bottom: 30px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.grid-row {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2px;
}
.grid-cell {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}
.grid-cell span {
  background-color: #272727;
}
button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.details {
  margin-top: 15px;
}
.button-reset {
  margin-top: 15px;
  padding: 7px 14px;
  border-radius: 5px;
}